{% extends 'base.html' %} {% block weatherWidget %} {% endblock weatherWidget %}
{% block content %}

    <div class="container-lg">
        <section>
            <h4 class="h4-info">About us</h4>
            <hr/>

            <p>
                We are three students studying Information Technology in Zadar and this
                webpage is our project.
            </p>
            <p>
                It's conceived as a traveling guide in which people can see a few details
                about beauties and things to do in Zadar county (and even a bit wider).
                With some photos and short descriptions, we thought this webpage would
                come in handy to tourists or even local people to see what they could do
                in their free time and whether these locations suit them.
            </p>
            <p>
                We hope you will enjoy your time here and hopefully find some cool new
                places to visit or things to do in your free time!
            </p>
            <p>
                Best regards,
                <br>
                <strong>Z</strong>vonimir, <strong>I</strong>vor and <strong>D</strong>ino aka <strong>ZID</strong>
            </p>
        </section>
    </div>
{% endblock content %}
