{% extends 'locations_base.html' %}
{% block title %} "Kudin most" on Krupa river {% endblock title %}
{% block content %}

    <div class="container-lg location-container">
        <section>
            <h1 class="location-title">"Kudin most" on Krupa river</h1>

            <!-- Slideshow Container -->

            <div
                    id="slideshow-container"
                    class="carousel slide"
                    data-ride="carousel"
                    data-interval="false"
            >
                <!-- Indikatori -->

                <div class="carousel-indicators">
                    <button
                            type="button"
                            data-bs-target="#slideshow-container"
                            data-bs-slide-to="0"
                            class="active"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#slideshow-container"
                            data-bs-slide-to="1"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#slideshow-container"
                            data-bs-slide-to="2"
                    ></button>
                    <button
                            type="button"
                            data-bs-target="#slideshow-container"
                            data-bs-slide-to="3"
                    ></button>
                </div>

                <!-- Slike -->

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img
                                src="{{ url_for('static', filename='location_photos/kudin-1.jpg') }}"
                                class="d-block w-100"
                                alt="krka-photo"
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                                src="{{ url_for('static', filename='location_photos/kudin-2.jpg') }}"
                                class="d-block w-100"
                                alt="krka-photo"
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                                src="{{ url_for('static', filename='location_photos/kudin-3.jpg') }}"
                                class="d-block w-100"
                                alt="krka-photo"
                        />
                    </div>
                    <div class="carousel-item">
                        <img
                                src="{{ url_for('static', filename='location_photos/kudin-4.jpg') }}"
                                class="d-block w-100"
                                alt="krka-photo"
                        />
                    </div>
                </div>
                <button
                        class="carousel-control-prev"
                        type="button"
                        data-target="#slideshow-container"
                        data-slide="prev"
                >
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-target="#slideshow-container"
                        data-slide="next"
                >
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <h4>About</h4>
            <hr class="in-section-separator"/>

            <div class="attributes-container">
      <span class="location-attribute"
      ><img src="{{ url_for('static', filename='icons/icons8-clock-32.png') }}" alt="duration"/> 3h</span
      ><br/>
                <span class="location-attribute"
                ><img src="{{ url_for('static', filename='icons/icons8-trekking-30.png') }}" alt="type"/> Hiking</span
                ><br/>
                <span class="location-attribute"
                ><img src="{{ url_for('static', filename='icons/free.png') }}" alt="free"/> Free</span
                ><br/>
                <span class="location-attribute">
        <img src="{{ url_for('static', filename='icons/icons8-kid-friendly-30.png') }}" alt="kid-friendly"/>
        Kid-friendly
      </span>
            </div>

            <h4 class="h4-info">Description</h4>
            <p>
                Located in vicinity of Golubic and Kastel Zegarski settlements, Kudin most
                has been constructed between 18th and 19th centuries. It is more than 100
                meters long, connecting the two banks of Krupa. The educational walk
                starts with a breathtaking view on the river and brings you to Kudin Most
                after a 40 minutes’ walk. Due to its architectural beauty and historical
                value, the bridge has been put under state protection.
            </p>
            <p>
                Literally translated, Kudin Most means ‘Bridge of Kuda’. According to a
                legend, that was a name of young man who built the bridge in order to
                reach a girl he loved very much. It is reminder that no river is too broad
                for true love.
            </p>

            <h4 class="h4-info">Location</h4>
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8091.093516834311!2d15.83876924527056!3d44.19401645549812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4761b7ec71157bb1%3A0xc53c7bfb3c3f1c67!2sKudin%20Most%20Parking!5e0!3m2!1sen!2shr!4v1638527924019!5m2!1sen!2shr"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
            ></iframe>
        </section>
    </div>

{% endblock content %}
